<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TRACS Project Form</title>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="registrationForm.mod.js"></script>
  <script src="registrationForm.ctrl.js"></script>
  <script src="registrationForm.svc.js"></script>
  <script src="gov.doi.tracs.forms.js"></script>

  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    .steps-container {
      margin-top: 20px;
    }

    label {
      font-weight: normal;
    }
  </style>
</head>
<body ng-app="registrationForm"
      ng-controller="RegistrationFormController as main">


<div class="container">

  <!--Row with two columns divided in 1:2 ratio-->
  <div class="row">
    <div class="col-sm-4 steps-container">
      <div class="list-group">
        <a href="#"
           ng-click="main.setStep('usertype')"
           ng-class="{ 'list-group-item active' : main.step=='usertype', 'list-group-item' : main.step!='usertype' }">
          Select User Type <span
                ng-class="{ 'label label-success pull-right' : main.isUserTypeFormValid, 'label label-danger pull-right' : !main.isUserTypeFormValid && main.isUserTypeFormDirty, 'label label-default pull-right' : !main.isUserTypeFormDirty }">
                                            1</span>
        </a>
        <a href="#"
           ng-click="main.setStep('profile')"
           ng-class="{ 'list-group-item active' : main.step=='profile', 'list-group-item' : main.step!='profile' }">
          Enter Profile Information <span
                ng-class="{ 'label label-success pull-right' : main.isProfileFormValid, 'label label-danger pull-right' : !main.isProfileFormValid && main.isProfileFormDirty, 'label label-default pull-right' : !main.isProfileFormDirty  }">
                                            2</span>
        </a>
        <a href="#"
           ng-click="main.setStep('roles')"
           ng-class="{ 'list-group-item active' : main.step=='roles', 'list-group-item' : main.step!='roles' }">
          Select Responsibilities <span
                ng-class="{ 'label label-success pull-right' : main.isRoleFormValid(), 'label label-danger pull-right' : !main.isRoleFormValid() && main.isRoleFormDirty , 'label label-default pull-right' : !main.isRoleFormDirty  }">
                                            3</span>
        </a>
      </div>

      <!--{{main.getUserType()}}-->

      <!--userTypeForm: {{main.userTypeForm}}-->
      <!--<div>type valid: {{main.isUserTypeFormValid}}</div>-->
      <!--<div>type dirty: {{main.isUserTypeFormDirty}}</div>-->

      <!--<div>profile valid: {{main.isProfileFormValid}}</div>-->
      <!--<div>profile dirty: {{main.isProfileFormDirty}}</div>-->

      <div class="alert alert-danger" ng-show="main.showUserTypeWarn">
        You must select a user type before continuing.
      </div>

      <div class="alert alert-danger" ng-show="main.showProfileWarn">
        You must complete your user profile for continuing.
      </div>

    </div>

    <div class="col-sm-8" class="w-content">

      <div ng-switch on="main.step"
           ng-init="main.step='usertype'">


        <div ng-switch-when="usertype">
          <h2>Select User Type</h2>

          <form name="main.userTypeForm" novalidate>

            <div class="well well-sm form-group">
              <label for="userTypeF" class="control-label">User Type</label>
                            <span class="pull-right"><span class="glyphicon glyphicon-question-sign"
                                                           tooltip="This is my cool clickable tooltip"
                                                           tooltip-placement="left"
                                                           tooltip-trigger="click"></span></span>
              <select id="userTypeF" name="userTypeF" class="form-control"
                      ng-model="main.profile.userType" required>
                <option value="">Select User Type</option>
                <option value="fedUser">Federal User</option>
                <option value="stateUser">State User</option>
                <option value="tribalUser">Tribal User</option>
                <option value="otherUser">Other</option>
              </select>
                            <span ng-show="main.userTypeForm.userTypeF.$dirty && userTypeForm.userTypeF.$invalid">
                                <span ng-show="main.userTypeForm.userTypeF.$error.required">User Type is requireds</span>
                            </span>
            </div>
          </form>
          <div>
            <button type="button" id="goToProfileButton" class="btn btn-primary"
                    ng-disabled="main.userTypeForm.userTypeF.$invalid"
                    ng-click="main.setStep('profile')">Next Step
            </button>
          </div>
        </div>

        <div ng-switch-when="profile">
          <h2>{{main.getUserType()}}</h2>

          <form name="main.regform" novalidate>


              <tx-form-field
                      tf-id="firstNameF"
                      tf-label="First Name"
                      tf-help="This is your first name, not your last name."
                      tf-form="main.regform"
                      tf-required="true">
                  <tx-text-input
                          tf-type="text"
                          tf-placeholder="type your first name here"
                          tf-model="main.profile.firstName"/>
              </tx-form-field>

              <tx-form-field
                      tf-id="lastNameF"
                      tf-label="Last Name"
                      tf-help="This is your last name, not your first name."
                      tf-form="main.regform"
                      tf-required="true">
                  <tx-text-input
                          tf-type="text"
                          tf-placeholder="type your last name here"
                          tf-model="main.profile.lastName"/>
              </tx-form-field>

              <tx-form-field
                      tf-id="phoneF"
                      tf-label="Contact Phone"
                      tf-help="This is your phone number."
                      tf-form="main.regform"
                      tf-required="true">
                  <tx-text-input
                          tf-type="text"
                          tf-placeholder="type your phone number here"
                          tf-model="main.profile.phone"/>
              </tx-form-field>

              <tx-form-field
                      tf-id="email1"
                      tf-label="Email Address"
                      tf-help="This is your email address."
                      tf-form="main.regform"
                      tf-required="true">
                  <tx-text-input
                          tf-type="email"
                          tf-placeholder="type your email address here"
                          tf-model="main.profile.email1"/>
              </tx-form-field>

              <tx-form-field
                      tf-id="email2"
                      tf-label="Email Address"
                      tf-help="Confirm your email address."
                      tf-form="main.regform"
                      tf-required="true">
                  <tx-text-input
                          tf-type="email"
                          tf-placeholder="type your email address here AGAIN"
                          tf-model="main.profile.email2"/>
              </tx-form-field>

              <tx-form-field
                      tf-id="stateF"
                      tf-label="State"
                      tf-help="Select Your State"
                      tf-form="main.regform"
                      tf-required="true"
                      ng-show="main.profile.userType=='stateUser'">
                  <select id="stateF" class="form-control"
                          ng-model="main.profile.state"
                          ng-required="main.profile.userType=='stateUser'"
                          ng-options="state.name for state in main.states">
                      <option value="">Select State</option>
                  </select>
              </tx-form-field>

              <tx-form-field
                      tf-id="orgF"
                      tf-label="Organization"
                      tf-help="Search for your organization"
                      tf-form="main.regform"
                      tf-required="main.profile.userType=='stateUser' && !profile.isCustomOrg"
                      ng-show="main.profile.userType=='stateUser'">
                  <input id="orgF" name="orgF" type="text" placeholder="Search for organization"
                         ng-model="main.profile.organization"
                         typeahead="org.name for org in main.organizations | filter:$viewValue | limitTo:5"
                         class="form-control"
                         ng-required="main.profile.userType=='stateUser' && !profile.isCustomOrg"
                         ng-disabled="main.profile.isCustomOrg">
              </tx-form-field>

              <tx-form-field
                      tf-id="customOrgF"
                      tf-label="Custom Organization"
                      tf-help="Enter the name of your organization."
                      tf-form="main.regform"
                      tf-required="main.profile.userType=='stateUser' && profile.isCustomOrg"
                      ng-show="main.profile.userType=='stateUser'">
                  <button type="button" class="btn btn-link"
                        ng-click="main.toggleCustomOrg()">My Organization is not listed above.
                  </button>
                  <input name="customOrgF" id="customOrgF" type="text" placeholder="Custom Organization"
                         class="form-control"
                         ng-model="main.profile.customOrg"
                         ng-required="main.profile.userType=='stateUser' && profile.isCustomOrg"
                         ng-show="main.profile.isCustomOrg"/>
              </tx-form-field>

              <tx-form-field
                      tf-id="regionF"
                      tf-label="FWS Region"
                      tf-help="Select your FWS Region"
                      tf-form="main.regform"
                      tf-required="main.profile.userType=='fedUser'"
                      ng-show="main.profile.userType=='fedUser'">
                  <select id="regionF" name="regionF" class="form-control"
                          ng-model="main.profile.region"
                          ng-required="main.profile.userType=='fedUser'"
                          ng-options="fwsRegion.name for fwsRegion in main.fwsRegions">
                      <option value="">Select FWS Region</option>
                      </select>
              </tx-form-field>
          </form>

          <div>
            <button type="button" class="btn btn-warning"
                    ng-click="main.setStep('usertype')">Go Back
            </button>
            <button type="button" id="goToResponsibilitiesButton" class="btn btn-primary"
                    ng-disabled="main.regform.$invalid"
                    ng-click="main.setStep('roles')">Next Step
            </button>
          </div>

          <!--{{main.regform.$error}}-->
        </div>

        <div ng-switch-when="roles">

          <h2>Select Your Responsibilities</h2>

          <form name="main.roleform" novalidate>

            <div ng-class="{ 'well well-sm form-group has-error' : (main.regform.roleform.$dirty && main.roleform.lastNameF.$invalid), 'well well-sm form-group' : !main.roleform.pass2F.$dirty || !main.roleform.lastNameF.$invalid }">
              <div class="input-group">
                              <span class="input-group-addon">
                                <input type="checkbox"
                                       ng-model="main.profile.dataentry">
                              </span>
                <label>Create and manage project data</label>
              </div>

              <div class="input-group">
                              <span class="input-group-addon">
                                <input type="checkbox"
                                       ng-model="main.profile.fedreview">
                              </span>
                <label>Review project proposals and performance reports</label>
              </div>

              <div class="input-group">
                              <span class="input-group-addon">
                                <input type="checkbox"
                                       ng-model="main.profile.useradmin">
                              </span>
                <label>Create and manage user profiles and approve system access</label>
              </div>

              <div class="input-group">
                              <span class="input-group-addon">
                                <input type="checkbox"
                                       ng-model="main.profile.fbmsReports">
                              </span>
                <label>View financial reports from FBMS</label>
              </div>
            </div>
          </form>
          <div>
            <button type="button" class="btn btn-warning"
                    ng-click="main.setStep('profile')">Go Back
            </button>
            <button type="button" class="btn btn-primary"
                    ng-disabled="!main.isUserTypeFormValid || !main.isProfileFormValid || !main.isRoleFormValid()"
                    ng-click="main.finish()" )>Finish
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  {{main.profile}}

</div>
</body>


</html>